.idea/*
test/*
test.go

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Executable files


# Output files & folders


# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Mac
.DS_Store

protos/helloworld/helloworld.pb.go
protos/helloworld/helloworld_pb2.py
protos/helloworld/helloworld_pb2_grpc.py
